<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../engine/Shopware/Components/Plugin/schema/plugin.xsd">

    <label lang="de">DiscountPromotionExport</label>
    <label lang="en">DiscountPromotionExport</label>

    <version>1.0.0</version>
    <link>http://www.shopinventors.de</link>
    <author>Net Inventors GmbH</author>
    <compatibility minVersion="5.2.6"/>

    <changelog version="1.0.0">
        <changes lang="de"><![CDATA[
[#] Init PLugin
]]></changes>
        <changes lang="en"><![CDATA[
[#] Init PLugin
]]></changes>
    </changelog>


    <requiredPlugins>
        <requiredPlugin pluginName="NetiDiscountPromotion" minVersion="4.0.7"/>
    </requiredPlugins>
</plugin>
